.background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
	background-image: url("rekafinal.png");
	background-size: cover;
    box-sizing: border-box;
    background-size: 100% 100%;
    padding-top: 250px;
}
body {
    overflow:hidden;
}
.backgroundBlock{
    /* font-size: 30px;
    font-weight: bold;  */
    text-align: center; 
} 
.hidden { font-size: 0; }
p{
    /* color: #800080; */
    color: rgb(83, 195, 236);
    font-size: 30px;
    margin-top: 0;
    
}
.inp {
    width: 250px;
    height: 50px;
    font-size: 20px;
    background: transparent;
    border: 3px solid #8a5082;
    padding: 10px;
    border-radius: 10px;
    color: rgb(83, 195, 236);
    outline: none;
} 
 ::placeholder{
    color: white;
    opacity: 1;
}
#enter{
    /* background-color: #FFA500; */
    background-color: #138086;
}