.background{
	height: 705px;
	background-image: url("reka02.jpg");
	background-size: cover;
    box-sizing: border-box;
    background-size: 100% 100%;
    padding-top: 300px;
}

.backgroundBlock{
        font-size: 60px;
        font-weight: bold;
        text-align: center;
    }

h1, h3{
    color: rgb(83, 195, 236);
}

#easy{
    /* background-color: #ffff66; */
    background-color: #ff9900;
}

#medium{
    background-color: rgb(187,135,236);

}

.diffbtn{
    width: 150px;
}


