.background{
    height: 705px;
    background-image: url("rekafinal.png");
	background-size: cover;
    box-sizing: border-box;
    background-size: 100% 100%;
    padding-top: 250px;
}

.backgroundBlock{
        font-size: 60px;
        font-weight: bold;
        text-align: center;
    }

h1{
    color: rgb(83, 195, 236);
}

h3{
    color: #800080;

}

#easy{
    /* background-color: #ffff66; */
    background-color: rgb(187,135,236);
}

#medium{
    background-color: orange;

}

.diffbtn{
    width: 150px;
}


