.background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;  
    background-image: url("bitmap.png"); 
    background-size: cover;
    box-sizing: border-box;
    background-size: 100% 100%;
    padding-top: 100px; 

}
body{
    overflow: hidden;
}
input[type="text"]{
    width: 100%; 
    height: 40px;
    font-size: 20px;
    text-align: center;  
}
input[type="text"]:focus{
    background-color: #ff9900 !important;
}
#table{
    width: 100%;
    height: 100%;
    /* position: relative; */
    margin-left: auto;
    margin-right: auto;
}
.choosedifh1{
    text-align: center;
    color: rgb(83, 195, 236);
    margin-top: 20px;
}
.borderTop{
    border-top: 5px solid #000a3f;
}

.borderLeft{
    border-left: 5px solid #000a3f;
}
.borderRight{
    border-right: 5px solid #000a3f; 
}
.finish{
    background-color: #8a5082;
}
.again{
    background-color: #eeb462;

}
.hint{
    background-color: #138086;
}
.diffbtn{
    width: 150px;
    margin-bottom: 10px;
} 
/* define layouts on medium screens */
@media (min-width: 768px) and (max-width: 991px) { 
    #table {
        height: 80%;
        width: 80%;
    } 
}
/* define layouts on mobile screens */
@media screen and (max-width: 767px) {
    #table {
        height: 80%;
        width: 80%;
    } 
   
}